.background {
    background-color: #263238;
    width: 100%; 
    position: fixed; 
    height: 100%; 
    z-index: 2; 
    left:0; 
    top:0;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}

.hidden {
    visibility:hidden;
    opacity: 0;
}

.circle {
    position: fixed; 
    z-index: 3;
    left: 50%;
    top: 50%;
}

