.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
  }
  
  .column item {
    margin-top: 8px;
    vertical-align: middle;
  }