<div class="row" (window:resize)="onResize($event)">
  <div class="column" *ngFor="let column of columns" [style.flex]="flex">
    <a *ngFor="let item of column" class="item clickable" (click)="onSelectItem(item)">
      <!-- <h2>{{ item.date | date: 'dd.MM.yyyy' }}</h2> -->

      <img *ngIf="!item?.isVimeoVideo" [src]="item.src" [alt]="item?.title" class="align-center item">

      <div *ngIf="item?.isVimeoVideo "
        [ngClass]="{'item': true, 'align-center': true, 'vimeo-video': item?.isVimeoVideo, 'youtube-video': item?.isYoutubeVideo }">
        <app-video-frame [src]="item?.videoSrc"></app-video-frame>
      </div>
    </a>
  </div>
</div>