@import url('https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* RESET */
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
/* END RESET */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #263238;
    color: #eee;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.row {
    margin-top: 0px !important;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}
  
.column {
    /* flex: 33%; */
    max-width: 100%;
    padding: 0px !important;
}

.clickable {
    cursor: pointer;
}

.youtube-video {
    /* background-color: #FF0000; */
}

.vimeo-video {
    background-color: rgb(15, 174, 241);
}

.danger-button {
    background-color: red !important;
    color: white !important;
}
